.Profile img {
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  box-shadow: var(--prim-box-shadow);
}
.Profile {
  text-align: center;
}
.Profile h2 {
  text-decoration: underline;
}
.Profile svg {
  font-size: 30px;
}
.Profile .icons {
  min-width: 300px;
  margin: 0 auto 20px;
}
.Profile .icons a {
  position: relative;
}
.Profile .icons p {
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform-origin: top;
  transform: translateX(-50%) scaleY(0);
  opacity: 0;
  transition: all 0.5s;
}
.Profile .icons a:hover p {
  transform: translateX(-50%) scaleY(1);
  opacity: 1;
}
