.Navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.Navbar li {
  padding: 0 15px;
  color: rgba(248, 208, 128, 0.4);
}
.Navbar .selected {
  color: rgb(248, 208, 128);
}

.Navbar a {
  text-decoration: none;
}
